numba
numpy
optuna
pandas
matplotlib
mplfinance
python-dateutil
opencv-python
scikit-learn
websocket-client
requests
ta-lib
tindicators
git+https://github.com/philipzabicki/finta.git@philipzabicki-patch-1
ta
pandas_ta
pympler
pymoo
binance_data
python-binance
binance-futures-connector
#ccxt